.typing{
	position: absolute;
	left: 23%;
	font-size: 18px;
}


.badge.badge-pill{
	font-size: 18px;
}

#search-box{
	background: transparent;
	text-align: center;
	border-radius: 10px;
	padding-top: 5px;
}

#search-box::placeholder{
	text-align: center;
}

#temas-interes-container{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.badge-pill{
	background-color: #680000 !important;
	color: #fff;
}

.servicio-item:hover{
	background: #ebc446;
	border-radius: 5px;
	transition: ease-in-out all 0.3s;
	color: #fff;
	padding: 10px;
	cursor: pointer;
}

.servicio-item:hover svg path{
	fill:#680000;
	transition: ease-in-out 0.3s;
}
.servicio-item{
	cursor: pointer;
	transition: ease-in-out all 0.3s;
	height: 68px;
	color: #000;
}

.servicio-item h5{
	margin-bottom: 0;
}

/* Estilos carousel */

.card-abogado *{
	text-align: center;
	margin-bottom: 0;
}

.img-abogado{
	width: 90px !important;
	height: 90px; 
	border-radius: 15px;
	margin: 0 auto;
}
.titulo-abogado{
	color: #680000;
}

.especialidad-abogado{
	font-size: 14px;
}
.valor-consulta-abogado{
	font-size: 12px;
}

.btn-abogado{
	background: #680000;
	color: #fff;
	font-size: 12px;
	width: 70%;
	padding: 3px !important;
}
.btn-ver-curriculo{
	color: #000;
	width: 70%;
	font-size: 12px;
	background: #d4af37 ;
	color: #000;
	padding: 3px;
}

.btn-abogado:hover,.btn-ver-curriculo:hover{
	border: solid 1px #d4af37 ;
	color: #000;
	background: #d4af37 ;
}

.btn-abogado svg{
	visibility: hidden;
}
.btn-abogado:hover svg{
	visibility: visible;
}
.btn-container{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content: space-around;
}

.btn-container div svg{
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.btn-container div svg path{
	fill: #680000;
}

.owl-dot span{
	background: #680000 !important;
}

.owl-dot.active span{
	background: #d4af37  !important;
}

@media screen and (min-width: 768px){
	#temas-interes-container{
		width: 600px;
	}

	.typing{
		position: absolute;
		left: 40%;
	}
}